{% extends "master.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<div>
  <p>
    <span class="tehword">Welcome</span> to Creating New Beginnings Counseling and Consulting Services.
    My goal is to provide clients with new insights to thought processes
    and behaviors along with new methods for handling every day difficulties
    that can be utilized right away. I hope to provide my clients with a safe
    and inviting environment where they can learn more about the world around
    them and build on their strengths. It is important that we work together
    to formulate treatment goals, and use the counseling process to understand
    and improve social and emotional functioning.
  </p>
  <p>
    The process looks like the following:
    <div class="well">
      <ol>
        <li>Identify the core problem(s).</li>
        <li>Develop together an individualized realistic treatment plan.</li>
        <li>Offer proven techniques.</li>
        <li>Applicable information, guidance &amp; support necessary to meet to your goals.</li>
      </ol>
    </div>
  </p>
  Today you are one step closer to a new you where you feel empowered
  and on a positive path to growth and well-being. If you would like to
  discuss your needs please email me at <a href="mailto:cnb@creating-new-begninnings.com?subject=Creating New Beginnings Counseling">cnb@creating-new-begninnings.com</A>
</div>
{% endblock %}

